body { background-color: #000; color: #FFF; text-align: center; font-family: 'Verdana'; font-size: 16px; }
a { display: block; color: aquamarine; margin-bottom: 25px }

h1 { font-size: 50px; font-weight: normal; }
h2 { font-weight: 300; font-size: 42px; }
p { color: grey; font-size: 21px; }
img { display: block; margin: 0 auto; margin-bottom: 25px; }

.footer {
	text-align: right;
	width: 100%;

	p { color: grey; }

}